 .swiper {
  width: 100%;
  max-height: 100dvh;
}

/* .swiper {
    max-height: 100vh;
} */


.swiper-wrapper{
    max-height: 100dvh;
}

/* .swiper-slide{
    max-height: 100dvh;
} */

/*
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */ 


/* swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal */

/* swiper-pagination-bullet swiper-pagination-bullet-active */

.swiper-pagination-bullet {
    height: 1rem;
    width: 1rem;
    background-color: white;
    /* size: 5rem; */
    opacity: 100%;

    /* color: black; */
}

.swiper-pagination-bullet-active{
    background-color: #CC7722;
}